<h1>Editing Project <%= @project.name %></h1>
<%= link_to sanitize('Back to ' + Project.find_by_id(session[:lastproj]).name), project_path(session[:lastproj]), data: {no_turbolink: true}  %>
<hr>
<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, :autocomplete => "off" %>
  </div>
  <div class="actions">
    <%= f.submit "Save", :class => "mobile", :method => :post %>
  </div>
<% end %>
