<div class="page-header">
  <h1><%= @task.name %></h1>
  <strong><%= link_to sanitize('Back to ' + @project.name), project_path(@project), data: {no_turbolink: true} %></strong>
</div>

<div class="list-group">
    <% if @task.label && @task.label != 0 %>
    <div class="list-group-item">
      <div style="border: 1px solid <%=Task.labels[@task.label].downcase %>;border-radius:5px;width:40px;height:40px;background-color:<%= Task.labels[@task.label].downcase %>"></div>
    </div>
    <% end %>
    <% if @task.description && @task.description.length > 0%>
      <div class="list-group-item">
        <p>
          <strong>Description: </strong>
          <%= @task.description %>
        </p>
      </div>
    <% end %>
    <% if @task.assignedto && @task.assignedto.length > 0%>
      <div class="list-group-item">
        <p>
          <strong>Assigned To: </strong>
          <%= @task.assignedto %>
        </p>
      </div>
    <% end %>
    <% if @task.duedate %>
      <div class="list-group-item">
        <p>
          <strong>Due Date: </strong>
          <%= @task.duedate %>
        </p>
      </div>
    <% end %>
    <div class="list-group-item">
      <p>
        <% if @task.complete == true %>
          <strong>Completed</strong>
        <% else %>
          <strong>Incomplete</strong>
        <% end %>
      </p>
    </div>
    <% if @task.datecomplete %>
      <div class="list-group-item">
        <p>
          <strong>Completed On: </strong>
          <%= @task.datecomplete.to_date %>
        </p>
      </div>
    <% end %>
    <div class="list-group-item">
      <p><strong>Project: </strong>
        <%= @project.name %>
      </p>
    </div>
</div>

<% if @task.complete == true %>
  <%= form_for(@task) do |f| %>
    <%= f.hidden_field :complete, :value => '0' %>
    <%= button_to task_path(@task), :method => :post, :class => "btn btn-default green"  do %>
      <span class="glyphicon glyphicon-unchecked"></span> Mark Incomplete
    <% end %>
  <% end %>
<% else %>
  <%= form_for(@task) do |f| %>
    <%= f.hidden_field :complete, :value => '1' %>
    <%= button_to task_path(@task), :method => :post, :class => "btn btn-default green"  do %>
      <span class="glyphicon glyphicon-ok"></span> Mark Complete
    <% end %>
  <% end %>
<% end %><br>
<%= button_to edit_task_path(@task), :method => :get, :class => "btn btn-default blue"  do %>
  <span class="glyphicon glyphicon-pencil"></span> Edit Task
<% end %><br>
<%= button_to 'Remove Task', @task, method: :delete, :class => "btn btn-default red", data: { confirm: 'Are you sure you want to permanently delete this task?' } %>