<h1>Create a Password</h1>
<p>You must add a password in order to log in without Facebook or Google and use Agendue mobile apps.</p>

<%= form_for @user, :url => user_path(@user.id) do |f| %>
  <p>Change Password</p>
  <div class="field">
    <%= f.label :password, 'New Password' %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, 'New Password Confirmation' %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Save Account", :class => "savebutton" %>
  </div>
<% end %>